.contact-info {
    strong {
        color: inherit;
    }
}

.contact-form {
    input, textarea {
        background: rgba(144, 144, 144, 0.075);
    }

    .form-heading {
        padding: 0;
    }

    .name {
        width: 50%;
        margin: 0 15px 0 0;
        padding: 10px;
    }

    .email {
        width: calc(50% - 20px);
    }

    .message {
        margin: 15px 0;
        padding: 10px;
    }

    a.special {
        text-transform: initial;
    }
}

#store-map {
    height: 400px;
    padding: 0;
    margin: 40px 0 0 0;
}